.body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:#ACACAC;
}

.container-table {
    padding: 1.25rem;
    border-radius: .5rem;
    background-color: #fff;
}

thead tr th {
    text-align: start !important;
}

tr td {
    text-align: start !important;
}
/* .form-group label.required::after {
    content: " (*)";
    color: red;
} */
.card-form{
    border: 1px solid #000075;
    border-radius: .25rem;
    background-color: #ffffff;
}
/* #212529
#ADB5BD */
